body {
  min-height: 100vh;
  width: 100;
  background-color: #191A1A;
}

.SelectedTab {
  color: lightblue !important;
}

.Tab {
  background-color: #191A1A !important;
  border: none !important;
  padding: 0 !important;
  width: 150px !important;
  /* background-color: #191A1A;
  border: none;
  padding: 0;
  width: 150px; */
}

* {
  color: white;
}

.Select-menu-outer > div > div > span {
  background-color: #191A1A;
}

.Select-menu-outer {
  background-color: #191A1A;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label {
  color: white;
}

._dash-undo-redo {
  background-color: #191A1A !important;
}